<div>
  <div>
    <h1>
      Your active bids
    </h1>
  </div>
</div>


<hr>
<% if @current_user.bids.length == 0 %>
<strong> You have no current bids! Check out the <a href="/listings/">listings</a> page to find an apartment you like!</strong>
<% else %>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Address
        </th>

        <th>
          Listing Poster
        </th>

        <th>
          Bid Amount
        </th>


        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        Retract bid
        </th>
      </tr>

      <% @list_of_bids.each do |a_bid| %>
      <tr>
        <td>
          <%= a_bid.listing.street_address %>
        </td>

        <td>
          <%= a_bid.listing.a_poster.full_name %>
        </td>

        <td>
          <%= number_to_currency(a_bid.amount) %>
        </td>

        <td>
          <%= time_ago_in_words(a_bid.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_bid.updated_at) %> ago
        </td>

        <td>
          <a href="/delete_bid/<%= a_bid.id %>">
            Retract this bid
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<% end %>
<hr>
