<div>
  <div>
    <h1>
      <%= @current_user.full_name %>'s Favorited Listings
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Favorite a new listing
    </h2>
  </div>
  <div>
    <form action="/insert_interest" method="post">
      <div>
        <label for="Listing">
          Listing
        </label>

        <select name="query_listing_id">
          <% Listing.all.order(:street_address).each do |a_listing|%>
            <option value="<%= a_listing.id %>">
              <%= a_listing.street_address %>
            </option>
          <% end %>
        </select>
      </div>
      <div>
        <button>
          Favorite this listing!
        </button>
      </div>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Address
        </th>

        <th>
          Listing Poster
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_interests.each do |an_interest| %>
      <tr>
        <td>
          <%= an_interest.listing.street_address %>
        </td>

        <td>
          <%= an_interest.listing.a_poster.full_name %>
        </td>

        <td>
          <%= time_ago_in_words(an_interest.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_interest.updated_at) %> ago
        </td>

        <td>
          <a href="/interests/<%= an_interest.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
