<div>
  <div>
    <h1>
      Favorited Listing #<%= @the_interest.id %> details
    </h1>

    <div>
      <div>
        <a href="/interests">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_interest/<%= @the_interest.id %>">
          Un-favorite this listing
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Listing
      </dt>
      <dd>
        <%= @the_interest.listing_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_interest.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_interest.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<a href="/listings/">Find a new listing to favorite!</a>
  

<hr>
